//@import "/src/common/styles/variables.scss";
//@import "/src/common/styles/global.scss";

.practices-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
