@import "/src/common/styles/variables.scss";
@import "/src/common/styles/global.scss";

.converter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 10px;
  font-weight: 700;
  font-size: 18px;
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}
  
  &__links {
      color: $gray-dark;
      text-decoration: none;
      padding: 28px 25px;
      font-size: 1.1rem;
  }
  
  &__links:hover {
      color: $primary-color;
  }
  
  &__links:active {
      color: $primary-color;
  }
  
  &__links:focus {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
  }
      
}